@charset 'utf-8';

.bg {
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section1 .bg {
    background-image: url(../img/bbq5.jpg);
}

#section2 .bg {
    background-image: url(../img/bbq6.jpg);
}

#section3 .bg {
    background-image: url(../img/bbq11.jpg);
}
