@charset 'utf-8';

.Hero{
    height: 100vh;
    width: 100%;
    z-index: 1;
    background-size: cover;
    &__img1 {
        background-image: url('../img/bbq1.jpg');
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
        color: #fff;
    }
    &__img2 {
        background-image: url('../img/bbq2.jpg');
    }
    &__img3 {
        background-image: url('../img/bbq3.jpg');
    }
    &__img4 {
        background-image: url('../img/bbq4.jpg');
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
    }
}

.Message {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255,255,255,0.7);
    &__head {
        text-align: center;
    }
}

