@charset 'utf-8';


.NewsList {
    display: table;
    border-collapse: separate;
    border-spacing: 0px 20px/2;
    &__item {
        display: table-row;
    }
    &__head {
        display: table-row;
        padding-right: 20px*2;
        margin-right: 40px;
    }
    &__body {
        display: table-cell;
    }
}

.event {
    margin-bottom: 20px*2;
    &__item {
        margin-bottom: 20px*2;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.space {
    -ms-flex: 0 1 1180px;
    flex: 0 1 1180px;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1180px;
}

.eventbox {
    line-height: 300%;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsbox {
    line-height: 300%;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
