@charset "utf-8";

.SectionLine{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
    color: $color-main-text;
    line-height: normal;
    &__box {
        justify-content: center;
        align-items: center;
    }
    &__box h1 {
        font-weight: 500;
        @include title-font;
    }
    &__box p {
    font-family: "Noto Sans JP", "Hiragino Sans", "Sintony", "游ゴシック", "MS 明朝", "MS Mincho", Arial, Helvetica, Sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 24px;
    }
}

#project_title {
    padding-left: 16px;
}

#event_title {
    padding-left: 8px;
}
