@charset 'utf-8';

// colors
$color-white: #fff;
$color-black: #252525;
$color-main-text: #474747;

$color-base: #fff;
$color-second: rgb(239,237,236);
$color-main: #FF3700;
$color-link: #878378;

$color-reverse-line: #fff;
$color-reverse-fill: #252525;

